button {
  /*top/bottom left/right*/
  /*note! no commas between arguments*/
  padding: 15px 25px;
  color:white;
  background-color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  margin: 20px;
}

.stretch-button {
  transition: padding 3s;
}

.stretch-button:hover {
  padding: 30px 50px;
}

.shadow-button {
  transition: margin 0.05s, box-shadow 5s;
  box-shadow: 3px 5px 10px rgb(48, 48, 48)
}

.shadow-button:active {
  margin-top: 26px;
  margin-left: 23px;
  box-shadow: none;
}

.num-button {
  transition: margin 0.8s, padding 0.8s;
}

/* on hover, increase left and right padding by amount x
while simultaneously decreasing left and right margin by
same amount x */
.num-button:hover {
  padding-left: 45px;
  padding-right: 45px;
  margin-left: 0px;
  margin-right: 0px;
}