button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  width: 120px;
  height: 50px;
  margin-right: 20px;
  border-radius: 15px;
  border-width: 4px;
  color:white;
  opacity: 0.3;
  transition: opacity 1s;
}

button:hover {
  
  opacity: 1;
}


.green-button {
  background-color: rgb(45, 172, 83);
}

.blue-button {
  background-color:rgb(73, 142, 207);
}

.blue-button:active {
  background-color:rgb(115, 32, 136);
  color: black;
}